.jumbotron {
  padding-top: 6rem;
  background-color: #689cf1;
}
#About {
  background-color: #ffffff;
}
#Gallery {
  background-color: #689cf1;
}
#Contact {
  background-color: #ffffff;
}
section {
  padding-top: 4rem;
}
